<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
  <header id="main-header">
  <h1>Rock Paper Scissors</h1>
  </header>
</body>
</html>