<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <meta charset="UTF-8">
  <meta name="description" content="Rock Paper Scissors Game">
  <meta name="keywords" content="HTML,CSS,Ruby,Sinatra,Web Game">
  <meta name="author" content="Marcin Balejko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
</head>
<body>
  <header id="main-header">
  <h1>Rock Paper Scissors</h1>
  </header>
  <div class="container-1">
      <div class="box-1">
          <img src="images/rock.jpg" width="200">
      </div>
      <div class="box-2">
            <img src="images/paper.jpg" width="200"> 
        </div>
        <div class="box-3">
            <img src="images/scissors.jpg" width="200">
        </div>
    </div>
    <div class="container-2">
        <div>
            <form action=/names method="post">
                <div>
                    <input class="placeholder-text" type="text" name="player_1_name" placeholder="Enter Your Name">
                    </div>
                    <br>
                    <div>
                    <input class="btn btn-success" type="submit" value="Start">
                    </div>
            </form>    
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</body>
</html>