<!DOCTYPE html>
<html>
<head>
  <title>Play</title>
  <meta charset="UTF-8">
  <meta name="description" content="Rock Paper Scissors Game">
  <meta name="keywords" content="HTML,CSS,Ruby,Sinatra,Web Game">
  <meta name="author" content="Marcin Balejko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" >
   
</head>
<body>
<div id="p_monster">
  <div class="grid-container">
      <div></div>
      <div class="play-header">
      <% if $game.player_1.name == "" %>
      Let's begin, Player!
      <% else %>
      Let's begin, <%= $game.player_1.name %>!
      <%end%>
      </div>
      <div></div>
        <div></div>
        <div class="pbox-1">
        <form action=/choice method="post">
          <input type="image" src="images/hand-rock-solid.svg" style="max-width: 120px; max-height: 150px;" name="rock" />
          <input type="hidden" name="choice" value="rock" />
        </form>
        </div>
        <div></div>
        <div class="pbox-2">
        <form action=/choice method="post">
          <input type="image" src="images/hand-paper-solid.svg" style="max-width: 150px; max-height: 150px;" name="paper" />
          <input type="hidden" name="choice" value="paper" />
        </form>
        </div>
        <div class="pbox-3">
        </div>
        <div class="pbox-4">
        <form action=/choice method="post">
          <input type="image" src="images/hand-peace-solid.svg" style="max-width: 150px; max-height: 150px;" name="scissors" />
          <input type="hidden" name="choice" value="scissors" />
        </form>
        </div> <!-- p-monster end -->
        <div></div>
        </div>
        <div class="choice">What is your choice?</div>
        <div></div>
  </div>
</body>
</html>