<!DOCTYPE html>
<html>
<head>
  <title>Play</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" >
   <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
</head>
<body>
  <header>
  </header>
  <div class="grid-results">
    <div></div>
    <div class="results-header">Results</div>
    <div></div>
    <div>
    <%= $game.player_1.choice %>  
    </div>
    <div><img src="images/versus.jpg"></div>
    <div><img src="images/scissors.jpg"></div>
    <div></div>
    <div class="results-win-lose">You win\\\lose</div>
    <div></div>
    </div>
</body>
</html>