

#main-header{
    color:rgb(28, 151, 55);
    text-align:center;
    padding:50px;   
}

#main-header h1{
    font-size: 50px;  
}

.container-1{
    display:flex;
    text-align:center;
}

.container-1{
    border: 1px solid;
    padding:10px;
}

.container-2{
    padding:50px;
    text-align:center;
}


.box-1{
    flex:1;
}

.box-2{
    flex:1;
}

.box-3{
    flex:1;
}

.placeholder-text{
    text-align:center;
}

.play-header{
    color:rgb(28, 151, 55);
    text-align:center;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.pbox-1{
    text-align: center;
}

.pbox-2{
    text-align: right;
}

.pbox-3{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr  ;
    grid-template-areas: ". . ." ". . ." ". . ." ;
  }

  .choice{
    color:rgb(28, 151, 55);
    text-align:center;
    align-items: flex-start;
    height:50%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .grid-results{
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr  ;
    grid-template-areas: ". . ." ". . ." ". . ." ". . ." ;
  }

  .results-header{
    color:rgb(28, 151, 55);
    text-align:center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .results-win-lose{
    color:rgb(28, 151, 55);
    text-align:center;
    margin-top: 30px;
    font-size: 20px;
  }

  .rbox-1{
      
      text-align: right;
  }

  .rbox-2{
      text-align: center;
  }

  .rbox-3{
      text-align: left;
  }

  #try_again_btn{
    text-align:center;
    margin-top: 25px;
  }

  #progress-play{
    margin-top: 15px;
  }

  @media screen and (max-width: 640px){

    .container-1{
        object-fit:cover;
        
    }

    .box-1 img{
        flex:1;
        max-width: 100px;
        max-height: 100px;
    }
    
    .box-2 img{
        flex:1;
        max-width: 100px;
        max-height: 100px;
    }
    
    .box-3 img{
        flex:1;
        max-width: 100px;
        max-height: 100px;   
    }

  }

   /* Mobile - view - play */
@media(min-width: 320px) {
    @media (max-width: 736px) {
        .grid-container {
            display: flex;
            flex-direction: column;
        }

        .pbox-1{
            text-align: center;
        }
        
        .pbox-2{
            text-align: center;
        }
        
        .pbox-3{
            text-align: center;
        }

        .pbox-4{
            text-align: center;
        }
    }
}

 /* Ipad - view - play */
@media(min-width: 737px) {
    @media (max-width: 1366px) {
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr  ;
            grid-template-areas: ". . ." ". . ." ". . ." ;
        }

        .pbox-1{
            text-align: center;
        }
        
        .pbox-2{
            text-align: right;
        }
        
        .pbox-3{
            text-align: center;
        }
    }
}
 /* Mobile - view - result */
@media(min-width: 320px) {
    @media (max-width: 812px) {
        .grid-results {
            display: flex;
            flex-direction: column;
        }

        .rbox-1{
            text-align: center;
        }
        
        .rbox-2{
            text-align: center;
        }
        
        .rbox-3{
            text-align: center;
        }

        .rbox-4{
            text-align: center;
        }
    }
}
/* Ipad - view - result */
@media(min-width: 737px) {
    @media (max-width: 1366px) {
        .grid-results{
            display: grid;
            margin-top: 25px;
        
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr 1fr  ;
            grid-template-areas: ". . ." ". . ." ". . ." ". . ." ;
        }

        .rbox-1{
            text-align: right;
        }
          
        .rbox-2{
            text-align: center;
        }
        
        .rbox-3{
            text-align: left;
        }
    }
}



  

  

  

