
#main-header {
    color:black;
    font-family: 'Comic Sans Neue';
    text-align:center;
    padding:30px;   
}

#main-header h1 {
    font-size: 50px;  
}

.container-1 {
    display:flex;
    text-align:center;
}

.container-1 {
    border: 5px solid black;
    padding:10px;
}

.container-2 {
    margin-top: 20px;
    text-align:center;
}

.placeholder-text{
    border: 2px solid black;
}

.start-button{
    margin-top: 10px;
}

.button {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  
.button:hover {
    background-color: white;
    color: black;
}

.box-1 {
    flex:1;
}

.box-2 {
    flex:1;
}

.box-3 {
    flex:1;
}

.placeholder-text {
    text-align:center;
    
}

#p_monster {
    border: 5px solid black; height: 95vh;
}

.play-header {
    color:black;
    font-family: 'Comic Sans Neue';
    text-align:center;
    animation: fadeIn ease 5s;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.pbox-1 {
    text-align: center;
    animation: fadeIn ease 2s;
}

.pbox-2 {
    text-align: right;
    animation: fadeIn ease 4s;
}

.pbox-4 {
    text-align: left;
    animation: fadeIn ease 4s;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr  ;
    grid-template-areas: ". . ." ". . ." ". . ." ;
  }

  .choice{
    color:black;
    font-family: 'Comic Sans Neue';
    text-align:center;
    align-items: flex-start;
    height:50%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    animation: fadeIn ease 5s;
  }

  .grid-results {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr  ;
    grid-template-areas: ". . ." ". . ." ". . ." ". . ." ;
  }

  .results-header {
    color:black;
    font-family: 'Comic Sans Neue';
    text-align:center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .results-win-lose {
    color:black;
    font-family: 'Comic Sans Neue';
    text-align:center;
    margin-top: 30px;
    font-size: 20px;
    animation: fadeIn ease 3s;
  }

  .rbox-1 {
      text-align: right;
      animation: fadeIn ease 4s;
  }

  .rbox-2 {
      text-align: center;
  }

  .rbox-3 {
      text-align: left;
      animation: fadeIn ease 4s;
  }

  #try_again_btn {
    text-align:center;
    margin-top: 25px;
    margin-bottom: 10px;
    animation: fadeIn ease 5s;
  }

  #progress-play {
    margin-top: 15px;
  }

  @media screen and (max-width: 640px){

    #main-header {
        font-family: 'Comic Sans Neue';
        padding: 20px;     
    }

    .start-button{
        margin-top: 0px;
    }

    .placeholder-text{
        margin-bottom: 15px;
    }

    .container-1 {
        object-fit:cover;
        
    }

    .box-1 img {
        flex:1;
        max-width: 100px;
        max-height: 100px;
    }
    
    .box-2 img {
        flex:1;
        max-width: 100px;
        max-height: 100px;
    }
    
    .box-3 img {
        flex:1;
        max-width: 100px;
        max-height: 100px;   
    }

  }

   /* Mobile - view - play */
@media(min-width: 320px) {
    @media (max-width: 736px){

        .grid-container {
            display: flex;
            flex-direction: column;
        }

        html {
            overflow: hidden;
        }

        .body{
            min-height:100%;
        }

        .pbox-1 {
            text-align: center;
        }
        
        .pbox-2 {
            text-align: center;
        }
        
        .pbox-4 {
            text-align: center;
        }
    }
}

 /* Ipad - view - play */
@media(min-width: 737px) {
    @media (max-width: 1366px) {

        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr  ;
            grid-template-areas: ". . ." ". . ." ". . ." ;
        }

        .body{
            min-height:100%;
        }

        html {
            overflow: hidden;
        }

        html {
            overflow: hidden;
        }

        .pbox-1 {
            text-align: center;
        }
        
        .pbox-2 {
            text-align: right;
        }
        
    }
}
 /* Mobile - view - result */
@media(min-width: 320px) {
    @media (max-width: 812px) {

        .grid-results {
            display: flex;
            flex-direction: column;
        }

        .rbox-1 {
            text-align: center;
        }
        
        .rbox-2 {
            text-align: center;
        }
        
        .rbox-3 {
            text-align: center;
        }
    }
}
/* Ipad - view - result */
@media(min-width: 737px) {
    @media (max-width: 1366px) {

        .grid-results{
            display: grid;
            margin-top: 25px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr 1fr  ;
            grid-template-areas: ". . ." ". . ." ". . ." ". . ." ;
        }

        .rbox-1 {
            text-align: right;
        }
          
        .rbox-2 {
            text-align: center;
        }
        
        .rbox-3 {
            text-align: left;
        }
    }
}

#rock {
    animation: fadeIn ease 2s;
}

#paper {
    animation: fadeIn ease 4s;
}

#scissors {
    animation: fadeIn ease 5s;
}

#fade-in {
    animation: fadeIn ease 5s;
}


@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes effect_dylan {
    50% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    99% {
      transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      transform: scale(0.001, 0.001);
      opacity: 1;
    }
  }
  
@font-face {
    font-family: 'Comic Sans Neue';
    src: url("ComicNeue-Angular-Bold.ttf");
  }




  

  

  

