

#main-header{
    color:rgb(28, 151, 55);
    text-align:center;
    padding:50px;
    
}

#main-header h1{
    font-size: 50px;  
}

.container-1{
    display:flex;
    text-align:center;

}

.container-1{
    border: 1px solid;
    padding:10px;
}

.container-2{
    padding:50px;
    text-align:center;
}


.box-1{
    flex:1;
}

.box-2{
    flex:1;
}

.box-3{
    flex:1;
}

.play-header{
    color:rgb(28, 151, 55);
    text-align:center;
    margin-bottom: 20px;
    font-size: 30px;
}


.grid-container{
    display: grid;
    margin-top: 25px;
    margin-left: 28%;
    margin-right: 25%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr ;
    grid-template-areas: ". . ." ". . ." ". . ." ;
  }

  .choice{
    color:rgb(28, 151, 55);
    text-align:center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
  }

